<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882607693559-hhlb02ivqhlnlfbeetehgi768ick3hbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882607693559-hhlb02ivqhlnlfbeetehgi768ick3hbi</string>
	<key>API_KEY</key>
	<string>AIzaSyDcaKoGB4WZlL6Ox2sIeVAU4zcKxL9hcUs</string>
	<key>GCM_SENDER_ID</key>
	<string>882607693559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>e-l34rn1ng-4pp5</string>
	<key>STORAGE_BUCKET</key>
	<string>e-l34rn1ng-4pp5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882607693559:ios:d698bec9e3dafd9a973df2</string>
</dict>
</plist>